/* Basic Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*.creativeplacemakingpage {
  background-image: url('/assets/layered-waves-haikei.svg');
}*/

/* Creative Placemaking Container styling */
.creativeplacemakingcontainer {
 
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 5px;
}

/* Chitwood video styling */
.cp-videohero {
  width: 100%;
  max-width: 1200px;
  margin-top: 50px;
  border-radius: 30px;

}

.cp-videohero video {
  width: 100%;
  height: auto;
  border-radius: 35px;
}

/* Definition section styling */
.cp-definition-section {
  display: flex;
  flex-wrap: wrap;
  max-width: 1200px; /* Set max-width to match other sections */
  margin: 0 auto; /* Center align */
  overflow: hidden;
  margin-top: 20px;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 30px;
box-shadow:  20px 20px 34px #bebebe,
             -20px -20px 34px #ffffff;
             border: 1px solid rgb(3, 2, 3);
}

/* Left column styling */
.cp-leftcolumn {
  flex: 1;
  min-width: 200px;
  margin-right: 20px;
  overflow: hidden;
}

.cp-definition-section .cp-leftcolumn img {
  width: 100%;
  max-width: 600px;
  min-width: 200px;
  height: auto;
  border-radius: 10px;
  display: block;
}

/* Right column styling */
.cp-rightcolumn {
  flex: 2;
  text-align: left;
  overflow: hidden;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .cp-definition-section {
      flex-direction: column;
  }

  .cp-leftcolumn,
  .cp-rightcolumn {
      margin-right: 0;
      min-width: 100%;
  }
}

/* Definition Welcome styling */
.definition-welcome {
  width: 100%;  /* Makes it responsive to container width */
  margin: auto;
  padding: 15px;
  overflow: hidden;
  box-sizing: border-box; /* Ensures padding and borders are included in width calculations */
  
}

/* Carousel styling */
.text-carousel-container {
  display: flex;
  align-items: center;
  justify-content: center;
  max-height: 150px;
  width: 80%; /* Makes it responsive to container width */
  margin: auto;
  margin-top: 25px;
  margin-bottom: 25px;
  padding: 50px;
  gap: 10px;
  box-sizing: border-box; /* Ensures padding and borders are included in width calculations */
  border-radius: 30px;
background-color:rgba(255, 255, 255, 0.8);
border: 1px solid rgb(3, 2, 3);
box-shadow:  -22px 22px 44px #d4d4d4,
             22px -22px 44px #ffffff;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  top: 50%;
  width: auto;
  padding: 16px;
  color: #303030;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(255, 255, 255, 0.8);
}

/* Caption text */
.definition-text {
  color: #000000;
  
  font-size: 15px;
  padding: 8px 12px;
  position: static;
  bottom: 8px;
  width: 100%;
  text-align: center;

}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/* Gallery section styling */
.cp-gallery-section {
width: 100%;
max-width: 1200px; /* Set max-width to match other sections */
margin: 0 auto; /* Center align */
display: flex;
flex-direction: column;
gap: 20px; /* Space between rows */
padding: 50px;
margin-top: 20px;
background-color: #ffffff;
  border-radius: 30px;
box-shadow:  20px 20px 34px #bebebe,
             -20px -20px 34px #ffffff;
             border: 1px solid rgb(3, 2, 3);
}


.projectface-row {
display: grid;
grid-template-columns: repeat(3, 1fr);
gap: 20px; /* Space between columns */

}

.projectface-row:nth-child(2) {
grid-template-columns: 1fr; /* Single block in the middle row */
}

.projectface-block {
width: 100%;
padding-top: 100%; /* Aspect ratio 1:1 to keep it square */
position: relative;

overflow: hidden;
border-radius: 30px;
}

.pfblock-elongated {
  width: 100%;
  padding-top: 30%;
  position: relative;
  border-radius: 30px;
  overflow: hidden;
  }

.projectface-text-block {
position: absolute;
top: 75%;
bottom: 0px;
right: 0px;
left: 0px;
background-color: black;
color: white;

padding: 15px;
}

.projectface-block img {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
object-fit: cover;
}

.pfblock-elongated img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  }

/* Modal container */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.8);
}

/* Modal content */
.modal-content {
  position: relative;
  margin: auto;
  margin-top: 5%;
  padding: 0;
  width: 80%;
  max-width: 600px;
  background-color: white;
  border-radius: 10px;
  overflow-y: scroll;
  max-height: 60vh; /* Prevents modal from growing too large */
  
}

/* Modal images */
.modal-image {
  width: 100%;
  display: block;
  border-bottom: 1px solid #ddd;
}

/* Close button */
.close {
  color: rgb(2, 0, 0);
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
  cursor: pointer;
}  

.modalpop-text {
  padding: 40px;
  
}
/* Google Map section styling */
.cp-googlemap-section {
  display: flex;
  flex-wrap: wrap;
  max-width: 1200px; /* Set max-width to match other sections */
  margin: 0 auto; /* Center align */
  overflow: hidden;
  margin-top: 20px;
  padding: 50px;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
background-color:rgba(255, 255, 255, 0.8);
border: 1px solid rgb(3, 2, 3);
box-shadow:  -22px 22px 44px #d4d4d4,
             22px -22px 44px #ffffff;
}

/* How They Did It section styling */
.cp-how-section {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 20px;
  border-radius: 30px;
background-color:rgba(255, 255, 255, 0.8);
border: 1px solid rgb(3, 2, 3);
box-shadow:  -22px 22px 44px #d4d4d4,
             22px -22px 44px #ffffff;
}

.infographic {
  border: 3px solid rgb(39, 174, 149);
}

.convex {
  border-radius: 50px;
  background: linear-gradient(145deg, #f0f0f0, #cacaca);
  box-shadow:  20px 20px 60px #969696,
               -20px -20px 60px #ffffff;
}

.concave {
  border-radius: 50px;
  background: linear-gradient(145deg, #cacaca, #f0f0f0);
  box-shadow:  20px 20px 60px #969696,
               -20px -20px 60px #ffffff;
}

.flat {
  border-radius: 50px;
background: #e0e0e0;
box-shadow:  20px 20px 60px #969696,
             -20px -20px 60px #ffffff;
}

.stand-in {
  background-color:#f4f4f4;
  min-height: 1000px;
  min-width: 400px;
  border: 3px solid rgb(3, 2, 3);
  margin: 50px;
}

.small-stand-in {
  background-color:#f4f4f4;
  min-height: 200px;
  min-width: 300px;
  border: 3px solid rgb(3, 2, 3);
  margin: 50px;
}

/* Timeline section styling */
.cp-timeline-section {
  display: flex;
  max-width: 1200px; /* Set max-width to match other sections */
  margin: 0 auto; /* Center align */
  overflow: hidden;
  margin-top: 20px;
  padding: 20px;
  justify-content: center;
  border-radius: 30px;
background-color:rgba(255, 255, 255, 0.8);
border: 1px solid rgb(3, 2, 3);
box-shadow:  -22px 22px 44px #d4d4d4,
             22px -22px 44px #ffffff;
}

.timeline-container {
  
  padding: 30px;
  text-align: center;
  width: 100%;
  }

/* Container with timeline */
.timeline {
display: flex;
border-radius: 30px;
background-color:rgb(148, 4, 148);
margin-top: 20px;
padding: 40px;
text-align: center;
overflow: hidden;
justify-content: center;
}

.timeline ul{
  padding: 50px 0;
}

.timeline ul li{
  list-style: none;
  position: relative;
  width: 6px;
  margin: 0 auto;
  padding-top: 50px;
  background-color:rgb(255, 94, 0);
}

.timeline time{
  display: block;
  font-size: 22px;
  margin-bottom: 8px;
  font-weight: 700;
}

.timeline ul li:after{
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  transition: all 0.5s;
  background-color: inherit;
  z-index: 1;
}

.timeline ul li div{
  position: relative;
  bottom: 0;
  width: 400px;
  padding: 15px;
  background-color:rgb(202, 214, 33);
  transition: all 0.5s;
}

.timeline ul li:nth-child(even) div{
  left: 45px;
}

.timeline ul li:nth-child(odd) div{
  left: calc(-400px - 45px + 6px);
}

.timeline ul li.in-view div{
  transform: none;
  opacity: 1;
  border-radius: 40px;
}

.timeline ul li.in-view div:hover {
  
  box-shadow: 0 10px 18px rgba(0, 0, 0, 0.3); /* Add a drop shadow */
  transition: box-shadow 0.3s ease; /* Smooth transition for border and shadow */
  border-radius: 40px;
  background-color:rgb(248, 209, 35);
}

/* By the Numbers section styling */
.cp-bythenumbers-section {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  max-width: 1200px; /* Set max-width to match other sections */
  margin: 0 auto; /* Center align */
  overflow: hidden;
  margin-top: 20px;
  
  padding: 50px;
  align-items: center;
  justify-content: center;
  
  gap: 50px; /* Space between rows */
  border-radius: 30px;
background-color:rgba(255, 255, 255, 0.8);
border: 1px solid rgb(3, 2, 3);
box-shadow:  -22px 22px 44px #d4d4d4,
            
}

.card {
  position: relative;
  width: 300px;
  height: 200px;
  margin-top: 50px;
  margin-bottom: 30px;
  background: linear-gradient(-45deg, #409389 0%, #510265 100% );
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
}

.card svg {
  width: 48px;
  fill: #333;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
}

.card:hover {
  transform: rotate(-5deg) scale(1.1);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.card__content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
  width: 100%;
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
  background-color: #fff;
  opacity: 0;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
}

.card:hover .card__content {
  transform: translate(-50%, -50%) rotate(0deg);
  opacity: 1;
}

.card__title {
  margin: 0;
  font-size: 24px;
  color: #333;
  font-weight: 700;
}

.card__description {
  margin: 10px 0 0;
  font-size: 14px;
  color: #777;
  line-height: 1.4;
}

.card:hover svg {
  scale: 0;
  transform: rotate(-45deg);
}


/* Thank You section styling */
.cp-thankyou-section {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  max-width: 1200px; /* Set max-width to match other sections */
  margin: 0 auto; /* Center align */
  overflow: hidden;
  margin-top: 75px;
  margin-bottom: 50px;
 
  align-items: center;
  justify-content: center;
  border-radius: 30px;
  background-color:rgb(233, 233, 233);
border: 1px solid rgb(3, 2, 3);
box-shadow:  -22px 22px 87px #a8a8a8,
             22px -22px 87px #ffffff;
  gap: 50px; /* Space between rows */
}

.thankyou-bg {
margin: 0;
  width: 100%;
  position: absolute;
  right: 0;
  
  background-image: url('https://inrc.org/wp-content/uploads/2024/09/layered-waves-haikeicropped-scaled.jpg');
}

